/*RESUME TIMELINE DESIGN*/

.timeline {
	position: relative;
	list-style-type: none;
	padding: 20px 0px 0px 20px;
	margin-top:-6px;	
}

.timeline:before {
	content: '';
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	background: #f1f1f1;
}

.event {
	position: relative;
}
	
.event a.radio {
	border:4px solid #F4F4F4;
	border-radius: 100%;
	color: #86d012;
	font-size: 18px;
	height: 8px;
	width: 8px;
	left: -7px;
	top: 19px;
	line-height: 5px;
	position: absolute;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
	
}	
.event:hover a.radio { 
    height: 12px;
	width: 12px; left: -9px;
	top: 17px;
}
	
.event a.radio:active {
	background-color:#00F;
	}

.timeline ul li { 
	list-style:none;  
	padding:15px 25px 5px 39px; 
	color:#2b2b2b;
}

.timeline ul li h2 { 
	font-size:16px; 
	line-height:22px; 
	color:#343434; 
	font-weight:400;
}
.timeline ul li h2 span.date {
	display:inline-block;
	color:#959595; 
	background:#FFEFAF; 
	padding:0px 8px; 
	border-radius:22px;
	-moz-border-radius:22px;
	-webkit-border-radius:22px;
	font-size:10px; 
	margin-left:6px;
	margin-bottom:8px;
	white-space: nowrap;
	
}

.timeline ul li h3 {  
	font-size:13px;
	line-height:1; 
	color:#393939; 
	font-weight:400;
}
.timeline ul li p { 
	font-size:12px;
	line-height:1;
}

.time-tag p { 
	font:17px; 
	color:#2b2b2b; 
	padding:11px 0 0 59px;
}

.time-tag span.timeline-icon { 
	float:left; 
	width:40px; 
	height:30px; 
	padding-top:10px;  
	border-radius:100px; 
	background:#fff;  
	display:block; 
	margin-bottom:10px; 
	text-align:center;
}

